setuptools~=57.0.0
pytest-cov
pytest~=6.2.5
pycodestyle
pytest-pylint
pandas~=1.3.4
flask~=2.0.2
wheel~=0.36.2
uwsgi~=2.0.20
sqlalchemy
Werkzeug~=2.0.2
db~=0.1.1
py~=1.11.0
pip~=21.3.1
toml~=0.10.2
attrs~=21.2.0
pytz~=2021.3
Faker~=10.0.0
python-dateutil~=2.8.2
MarkupSafe~=2.0.1
Jinja2~=3.0.3
click~=8.0.3
itsdangerous~=2.0.1
isort~=5.10.1
tomli~=1.2.2
numpy~=1.21.4
Django~=4.0
sqlparse~=0.4.2
asgiref~=3.4.1
pylint~=2.11.1
astroid~=2.8.6
platformdirs~=2.4.0
mccabe~=0.6.1
pluggy~=1.0.0
iniconfig~=1.1.1
wrapt~=1.13.3
coverage~=6.1.2
six~=1.16.0
watchdog~=2.1.6
pyparsing~=3.0.6