{% extends "base.html" %}
{% block title %}Table{% endblock %}
{% block head %}
    {{ super() }}
    <style>

    </style>
{% endblock %}
{% block content %}

    <h1>Calculator's History </h1>

    <br>
    <br>

    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Value 1</th>
            <th>Value 2</th>
            <th>Operation</th>
            <th>Result</th>
        </tr>
        </thead>

        <tbody>
        {% for item in CalculatorTable %}
            <tr>
                <td>{{ value1 }}</td>
                <td>{{ value2 }}</td>
                <td>{{ operation }}</td>
                <td>{{ result }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                columns: [
                    null,
                    {searchable: false},
                    {orderable: false, searchable: false},
                    {orderable: false, searchable: false},
                    null],
            });
        });
    </script>
{% endblock %}